body {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  margin-left: auto;
}

header {
  min-width: 100%;
  width: 100%;
  position: fixed;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #e9e9e9;
  align-items: center;
  width: 100%;
  max-width: 100%;
  top: 0;
  padding: 10px;
  z-index: 2;
}
.site {
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
}
.header-buttons {
  font-family: Ubuntu;
  font-size: 13px;
  border: none;
  background-color: transparent;
  font-weight: bolder;
  color: white;
}
.fab.fa-joomla {
  font-size: 40px;
}
.header-left {
  margin-right: 80px;
}
.contact {
  align-self: flex-end;
  max-inline-size: 50%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.contact-title {
  font-family: rubik;
  font-weight: lighter;
}
.contact-info {
  font-family: rubik;
  font-weight: lighter;
  color: #39b4af;
  font-size: 18px;
}
.contact-b {
  background-color: #39b4af;
  border: none;
  font-family: rubik;
  font-size: 15px;
  color: white;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  max-width: 100%;
  background-color: white;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.sobre {
  font-family: rubik;
  font-size: 30px;
}
.sobre-txt {
  font-family: rubik;
  font-size: 18px;
  font-weight: lighter;
  max-inline-size: 50%;
  color: #39b4af;
}
.fas.fa-signature {
  font-size: 50px;
}
.prog-bar {
  width: 75%;
  background: #39b4af;
  height: 5px;
}
.bar-1 {
  height: 5px;
  width: 600px;
  background: #d9c0c0;
  padding: 1px;
}

.ux {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #39b4af;
}
.professional {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 0 100px 50px;
  background: #f8f9f9;
}
.titleprof {
  font-family: rubik;
}
.bar-text {
  font-family: rubik;
}
.prog-bar2 {
  width: 90%;
  background: #39b4af;
  height: 5px;
}
.bar-2 {
  height: 5px;
  width: 600px;
  background: #d9c0c0;
  padding: 1px;
}
.prog-bar3 {
  width: 20%;
  background: #39b4af;
  height: 5px;
}
.bar-3 {
  height: 5px;
  width: 600px;
  background: #d9c0c0;
  padding: 1px;
}
.case {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 10px;
}
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  font-family: rubik;
  background: #10c9c3;
  color: white;
}
.fas.fa-briefcase {
  font-size: 40px;
  font-weight: 300;
}
.number {
  font-weight: lighter;
  font-size: 20px;
}
.number-txt {
  font-weight: lighter;
  margin-top: 10px;
  font-size: 15px;
}
.far.fa-clock {
  font-size: 40px;
  font-weight: 300;
}
.far.fa-star {
  font-size: 40px;
  font-weight: 300;
}
.far.fa-heart {
  font-size: 40px;
  font-weight: 300;
}
.mosaic {
  float: left;
  width: 25%;
  padding-bottom: 25%;
  background-color: #dddddd;
  cursor: pointer;
}
.white {
  background-color: #838383;
}
.mosaic:hover,
.white:hover {
  background-color: black;
}
.load {
  display: flex;
  justify-content: center;
  font-family: rubik;
  background: #f5f5f5;
  padding: 20px;
}
.loadmore {
  font-weight: lighter;
  color: #8e8e8e;
  font-size: 20px;
}
.workp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: rubik;
  background: #ffffff;
}
.ourtitle {
  font-weight: lighter;
}
.ourtxt {
  max-width: 50%;
  font-weight: lighter;
  font-size: 16px;
  color: #8d7373;
}

.videop {
  position: relative;
  padding-bottom: 40%;
  height: 0;
  border: 50px solid white;
  z-index: 1;
}
.videop iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-self: center;
}
.jobs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.jobs-icons {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 0px;
  margin-right: 20px;
}
.jobs-title {
  font-family: rubik;
  font-weight: lighter;
  font-size: 16px;
}
.jobs-desc {
  font-family: rubik;
  color: #838383;
  font-weight: lighter;
  font-size: initial;
}
.far.fa-gem {
  font-size: 40px;
  line-height: 250%;
  font-weight: lighter;
}
.far.fa-baby {
  font-size: 40px;
  line-height: 250%;
  font-weight: lighter;
}

.fas.fa-mobile-alt {
  font-size: 40px;
  line-height: 250%;
  font-weight: lighter;
}

.fas.fa-gamepad {
  font-size: 40px;
  line-height: 250%;
  font-weight: lighter;
}

.fas.fa-plane {
  font-size: 40px;
  line-height: 250%;
  font-weight: lighter;
}

.fas.fa-camera {
  font-size: 40px;
  line-height: 250%;
  font-weight: lighter;
}

.fas.fa-magic {
  font-size: 40px;
  line-height: 250%;
  font-weight: lighter;
}

.fas.fa-fill {
  font-size: 40px;
  line-height: 250%;
  font-weight: lighter;
}
.quote {
  background: #10c9c3;
  font-family: rubik;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
}

.quote-title {
  font-weight: lighter;
  color: white;
}
.quote-name {
  font-weight: lighter;
  font-size: 20px;
  color: #eee;
}
.fas.fa-ellipsis-h {
  font-size: 40px;
  line-height: 250%;
  font-weight: lighter;
  color: white;
}
.fivelogos {
  background: white;
  display: flex;
  justify-content: space-evenly;
  font-size: 80px;
  padding: 50px;
  color: #838383;
}
.project {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: rubik;
  background-color: #f5f5f5;
  width: 80%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.title-coment {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  align-items: center;
  width: 100%;
}
.need {
  font-weight: lighter;
}
.need-txt {
  width: 50%;
  font-size: 15px;
  text-align: center;
  color: #787878;
  font-weight: lighter;
}
.text-com {
  font-family: rubik;
  font-weight: lighter;
  font-size: 16px;
  width: 41.5%;
  height: 50%;
  border: none;
}
.input-name {
  border: none;
  width: 100%;
  padding: 5%;
  margin: 1%;
}
.input-mail {
  border: none;
  width: 100%;
  padding: 5%;
  margin: 1%;
}
.name-mail {
  display: flex;
  width: 42.7%;
}
.txt-boxs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-title {
  border: none;
  width: 37%;
  padding: 2.5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.header-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cowments {
  display: flex;
  width: 100%;
  justify-content: center;
}
.send-button {
  margin-top: 2%;
  margin-bottom: 2%;
  border: none;
  background-color: #10c9c3;
  font-family: rubik;
  color: white;
  padding: 2%;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 100%;
  padding: 5% 0;
  font-family: rubik;
  background-color: black;
  color: white;
}
.lefter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.whitetxt {
  text-align: center;
}
.lefter {
  font-weight: lighter;
  font-size: 20px;
}
.coment-y1 {
  font-weight: lighter;
  font-size: 15px;
}
.coment-y2 {
  font-weight: lighter;
  font-size: 15px;
}
.facebk {
  font-size: 15px;
  font-weight: lighter;
}
